.title {
  color: white;
   margin: 0;
    padding: 8px 0 1px;
}

/* Make wrapper stable */
.Row {
   position: relative;
    padding: 10px 0;
}

/* Swiper container */
.Row :global(.swiper) {
  height: 265px;
  padding: 0 50px; 
  overflow: hidden;
}

/* Slides */
.Row :global(.swiper-slide) {
  display: flex;
  align-items: center;
  height: 100%; /* remove 130% */
     width: 240px !important;
}

/* Navigation buttons base style */
.Row :global(.swiper-button-prev),
.Row :global(.swiper-button-next) {
  background: transparent !important;
  color: white !important;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  top: 50%;
  transform: translateY(-50%);
}

/* Smaller arrow icon */
.Row :global(.swiper-button-prev::after),
.Row :global(.swiper-button-next::after) {
  font-size: 14px !important;
}

/* Show on hover */
.Row:hover :global(.swiper-button-prev),
.Row:hover :global(.swiper-button-next) {
  opacity: 1;
  pointer-events: auto;
}


/*added by me */
 .Row {
    position: relative;
    padding: 50px 0;
  }

  .Row :global(.swiper-slide:hover) {
    z-index: 10;
  }
